{% extends 'core/base.html' %}

{% block central_content %}
    <div class="xp-accounts">
        <h1>Create accounts from templates</h1>
        
        <form action="{% url 'start' %}" method="POST">
            {% csrf_token %}
            {{ formset.management_form }}
            <ul class="list-group my-3">
                {% for form in formset %}
                    <li class="list-group-item">
                        {{ form.selected }}
                        <div class="form-row">
                            <div class="col">
                                {{ form.title }}
                            </div>
                            <div class="col">
                                {{ form.amount }}
                            </div>
                            <div class="col">
                                {{ form.description }}
                            </div>
                            <div class="col">
                                {{ form.acc_type }}
                            </div>
                        </div>
                    </li>
                {% endfor %}
            </ul>
             <button type="submit" class="btn btn-success">Create from Selected</button> or <a href="#">Create new XpAccount</a>
        </form>
        
{% endblock central_content %}